
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Exercise 2</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h2>HOBBIES HERE</h2>
        <h3>These are my Hobbies</h3>
        <ul>
            <li>Technology</li>
            <li>Coding</li>
            <li>Gaming</li>
            <li>Mountaneering</li>
        </ul>
    <script src="/js/script.js"></script>
</body>
</html>